<header>
  <div id="imageLogo">
    <a href="/"><img class="branding" src="../../assets/images/logo.jpg" alt="Branding Logo"></a>
  </div>
  <div id="LogoText">
    <h1>Employee Database!!</h1>
  </div>
</header>