<nav class = "menubar">
    <a class = "menu" href="/employee">Employees</a> |
    <a class = "menu" href="/">Home</a> |
    <a class = "menu" href="/about">About</a> |
    <a class = "menu" href="/contact">Contact</a>
</nav>