{
    "swagger": "2.0",
    "info": {
      "title": "Operations",
      "version": "1.0",
      "description": "The Operations API contains all the Video Indexer APIs, such as Upload video, Get insights, and other operations, as well authorization operations to obtain access tokens for calling the the other operations"
    },
    "host": "api.videoindexer.ai",
    "schemes": [
      "https"
    ],
    "securityDefinitions": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    },
    "security": [
      {
        "apiKeyHeader": []
      },
      {
        "apiKeyQuery": []
      }
    ],
    "paths": {
      "/{location}/Accounts/{accountId}": {
        "get": {
          "description": "Get Account Details",
          "operationId": "Get-Account",
          "summary": "Get Account",
          "tags": [
            "Accounts"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "includeUsage",
              "in": "query",
              "description": "Whether to retrieve the usage information for the account",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "includeAmsInfo",
              "in": "query",
              "description": "Whether to retrieve the Azure Media Services instance information",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "includeStatistics",
              "in": "query",
              "description": "Whether to retrieve the account statistics information",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (Account, with Read)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Get the account information",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": "[\r\n  {\r\n    \"cName\": \"exampleName\",\r\n    \"description\": \"\",\r\n    \"createTime\": \"2018-04-25T08:31:58.6669575\",\r\n    \"owners\": [\r\n      {\r\n        \"id\": \"SampleUserId\",\r\n        \"name\": \"SampleUserName\",\r\n        \"email\": \"SampleEmailAddress@gmail.com\"\r\n      }\r\n    ],\r\n    \"contributors\": [],\r\n    \"invitedContributors\": [],\r\n    \"readers\": [],\r\n    \"invitedReaders\": [],\r\n    \"quotaUsage\": {\r\n      \"dailyUploadCount\": 0,\r\n      \"dailyUploadCountLimit\": 0,\r\n      \"dailyUploadDurationInSeconds\": 0,\r\n      \"dailyUploadDurationLimitInSeconds\": 0,\r\n      \"everUploadDurationInSeconds\": 0,\r\n      \"everUploadDurationLimitInSeconds\": 0\r\n    },\r\n    \"state\": \"Active\",\r\n    \"location\": null,\r\n    \"isPaid\": false,\r\n    \"amsResource\": null,\r\n    \"amsAadConnectionApplicationId\": null,\r\n    \"id\": \"SampleAccountId\",\r\n    \"name\": \"SampleAccountName\",\r\n    \"accountType\": \"Trial\"\r\n  },\r\n  {\r\n    \"cName\": \"exampleName\",\r\n    \"description\": \"\",\r\n    \"createTime\": \"2018-04-25T08:31:58.6669575\",\r\n    \"owners\": [\r\n      {\r\n        \"id\": \"SampleUserId\",\r\n        \"name\": \"SampleUserName\",\r\n        \"email\": \"SampleEmailAddress@gmail.com\"\r\n      }\r\n    ],\r\n    \"contributors\": [],\r\n    \"invitedContributors\": [],\r\n    \"readers\": [],\r\n    \"invitedReaders\": [],\r\n    \"quotaUsage\": {\r\n      \"dailyUploadCount\": 0,\r\n      \"dailyUploadCountLimit\": 0,\r\n      \"dailyUploadDurationInSeconds\": 0,\r\n      \"dailyUploadDurationLimitInSeconds\": 0,\r\n      \"everUploadDurationInSeconds\": 0,\r\n      \"everUploadDurationLimitInSeconds\": 0\r\n    },\r\n    \"state\": \"Active\",\r\n    \"location\": \"westus2\",\r\n    \"isPaid\": true,\r\n    \"amsResource\": \"SampleAmsResource\",\r\n    \"amsAadConnectionApplicationId\": \"8d03c025-3f05-48bb-b70c-78a3bb32fe17\",\r\n    \"id\": \"SampleAccountId\",\r\n    \"name\": \"SampleAccountName\",\r\n    \"accountType\": \"Paid\"\r\n  }\r\n]"
              }
            },
            "400": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "ACCOUNT_NOT_FOUND",
                  "Message": "Account 'SampleAccountId' not found"
                }
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "USER_NOT_ALLOWED",
                  "Message": "Access token is not authorized to access account 'SampleAccountId'."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        }
      },
      "/{location}/Accounts/{accountId}/MediaServices": {
        "patch": {
          "description": "This API can be called only in Video Indexer paid regions.<br/>Updates the Azure Media Services (AMS) connection for a paid account, to support a scenario in which AMS resource moved to another subscription/resource group, and to support a scenario in which client wants to update the AAD application used to access the AMS resource, for example because the application key is about to expire.<br/>If new AAD application details are provided, client should make the AAD application has at least Contributor role permissions to the AMS resource, or else an error response will be returned.",
          "operationId": "Update-Paid-Account-Azure-Media-Services",
          "summary": "Update Paid Account Azure Media Services",
          "tags": [
            "Accounts"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (Account, with Write)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            },
            {
              "name": "amsConnection",
              "in": "body",
              "schema": {
                "$ref": "#/definitions/AmsConnection"
              },
              "description": "Specifies the changes to AMS connection"
            }
          ],
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Update succeeded",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "400": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": "[\r\n  {\r\n    \"ErrorType\": \"INVALID_INPUT\",\r\n    \"Message\": \"Media services info is missing from body.\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"OPERATION_NOT_SUPPORTED_ON_TRIAL\",\r\n    \"Message\": \"This request is not supported in Trial. It is supported in Video Indexer paid locations only.\"\r\n  }\r\n]"
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "USER_NOT_ALLOWED",
                  "Message": "Access token is not authorized to access account 'SampleAccountId'."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        }
      },
      "/{location}/Accounts": {
        "post": {
          "description": "This API can be called only in Video Indexer paid regions.<br/>Creates a new paid account connected to the given Media Services account.",
          "operationId": "Create-Paid-Account",
          "summary": "Create Paid Account",
          "tags": [
            "Accounts"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (User, with Write)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            },
            {
              "name": "amsConnectionFromBody",
              "in": "body",
              "schema": {
                "$ref": "#/definitions/AmsConnectionFromBody"
              },
              "description": "The details of the Media Services account to connect the new Video Indexer paid account to."
            }
          ],
          "consumes": [
            "application/json"
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "201": {
              "description": "Account created successfully.",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "401": {
              "description": "Not authorized to perform this action.",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "403": {
              "description": "Forbidden on trial.",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "400": {
              "description": "Invalid input, see examples.",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": "[\r\n  {\r\n    \"ErrorType\": \"INVALID_INPUT\",\r\n    \"Message\": \"Invalid input Body/AadConnection is empty\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"AMS_AAD_APPLICATION_INSUFFICIENT_PERMISSION\",\r\n    \"Message\": \"The AAD application ID doesn't have the required permission on this Azure Media Services account\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"AMS_UNREACHABLE\",\r\n    \"Message\": \"Failed to connect to Media Services account\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"EVENT_GRID_NOT_REGISTERED\",\r\n    \"Message\": \"Microsoft.EventGrid resource provider is not registered in subscription\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"AMS_IN_ANOTHER_LOCATION\",\r\n    \"Message\": \"Can not connect to a Media Services account which is not in the same location as the VideoIndexer account\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"OPERATION_NOT_SUPPORTED_ON_TRIAL\",\r\n    \"Message\": \"This request is not supported in Trial. It is supported in Video Indexer paid locations only.\"\r\n  }\r\n]"
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        },
        "get": {
          "description": "Get Accounts",
          "operationId": "Get-Accounts-With-Token",
          "summary": "Get Accounts With Token",
          "tags": [
            "Accounts"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "generateAccessTokens",
              "in": "query",
              "description": "Whether to generate an access token for each account.",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "allowEdit",
              "in": "query",
              "description": "Determines whether the token has write permissions",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (User, with Read)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Retrieved the accounts successfully",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": "[\r\n  {\r\n    \"id\": \"SampleAccountId1\",\r\n    \"name\": \"SampleAccountName1\",\r\n    \"location\": \"eastus\",\r\n    \"accountType\": \"Trial\",\r\n    \"accessToken\": \"ey00asd...\"\r\n  },\r\n  {\r\n    \"id\": \"SampleAccountId2\",\r\n    \"name\": \"SampleAccountName2\",\r\n    \"location\": \"eastus\",\r\n    \"accountType\": \"Trial\",\r\n    \"accessToken\": \"az00asd...\"\r\n  }\r\n]"
              }
            },
            "400": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        }
      },
      "/{location}/Accounts/{accountId}/Videos": {
        "post": {
          "description": "Uploads the given video, starts indexing it and returns a new Video id.<br>\nThe supported formats are listed\n<a href=https://docs.microsoft.com/en-us/azure/media-services/media-services-media-encoder-standard-formats target=\"_blank\"> here</a>",
          "operationId": "Upload-Video",
          "summary": "Upload Video",
          "tags": [
            "Videos"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "name",
              "in": "query",
              "description": "The video name",
              "required": true,
              "type": "string"
            },
            {
              "name": "privacy",
              "in": "query",
              "description": "The video privacy mode. Allowed values: Private/Public",
              "type": "string",
              "default": "Private",
              "enum": [
                "Private",
                "Public"
              ]
            },
            {
              "name": "priority",
              "in": "query",
              "description": "Index priority, can be used in paid regions only. Allowed values: Low/Normal/High",
              "type": "string",
              "enum": [
                "Low",
                "Normal",
                "High"
              ]
            },
            {
              "name": "description",
              "in": "query",
              "description": "The video description.",
              "type": "string"
            },
            {
              "name": "partition",
              "in": "query",
              "description": "A partition to partition videos by (used for searching a specific partition)",
              "type": "string"
            },
            {
              "name": "externalId",
              "in": "query",
              "description": "An external id to associate with the video (can be searched for later).",
              "type": "string"
            },
            {
              "name": "externalUrl",
              "in": "query",
              "description": "Format - uri. An external URL to associate with the video (can be retrieved later)",
              "type": "string"
            },
            {
              "name": "callbackUrl",
              "in": "query",
              "description": "Format - uri. A url to send notifications to (POST).\nThese are the supported notifications:\n1. Video indexing completed:\n   2 additional query string parameters will be added to the url: id and state.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&state=Processed'.\n\n2. A face was identified (after the face was trained in another video):\n   4 additional query string parameters will be added to the url: id, faceId, knownPersonId and personName.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&faceId=1234&knownPersonId=B689EC08-FAB6-497A-A727-DA7285DBD436&personName=JohnSmith'.",
              "type": "string"
            },
            {
              "name": "metadata",
              "in": "query",
              "description": "Metadata to associate with the video (will be returned in queries).",
              "type": "string"
            },
            {
              "name": "language",
              "in": "query",
              "description": "The language of the video, to be used when generating the transcript: Auto-detect single language - 'auto', Auto-detect multi language (preview) - 'multi'..\nSupported languages: Chinese (Simplified): zh-Hans, English United Kingdom: en-GB, English Australia: en-AU, English United States: en-US, Spanish: es-ES, Spanish (Mexico): es-MX, French: fr-FR, Arabic Syrian Arab Republic: ar-SY, Arabic Egypt: ar-EG, German: de-DE, Italian: it-IT, Japanese: ja-JP, Hindi: hi-IN, Korean: ko-KR, Russian: ru-RU, Portuguese: pt-BR.",
              "type": "string",
              "enum": [
                "zh-Hans",
                "en-GB",
                "en-AU",
                "en-US",
                "es-ES",
                "es-MX",
                "fr-FR",
                "ar-SY",
                "ar-EG",
                "de-DE",
                "it-IT",
                "ja-JP",
                "hi-IN",
                "ko-KR",
                "ru-RU",
                "pt-BR",
                "English",
                "Spanish",
                "Russian",
                "Japanese",
                "German",
                "French",
                "Portuguese",
                "Italian",
                "Chinese",
                "Arabic",
                "Hindi",
                "auto",
                "multi"
              ]
            },
            {
              "name": "videoUrl",
              "in": "query",
              "description": "Format - uri. A public url of the video/audio file (url encoded). If not specified, the file should be passed as a multipart/form body content.",
              "type": "string"
            },
            {
              "name": "fileName",
              "in": "query",
              "description": "The uploaded file name.",
              "type": "string"
            },
            {
              "name": "indexingPreset",
              "in": "query",
              "description": "The indexing preset to use. Allowed values: Default/AudioOnly/VideoOnly/DefaultWithNoiseReduction",
              "type": "string",
              "default": "Default",
              "enum": [
                "Default",
                "AudioOnly",
                "VideoOnly",
                "DefaultWithNoiseReduction"
              ]
            },
            {
              "name": "streamingPreset",
              "in": "query",
              "description": "The streaming preset to use. Allowed values: NoStreaming/Default/SingleBitrate/AdaptiveBitrate",
              "type": "string",
              "default": "Default",
              "enum": [
                "NoStreaming",
                "Default",
                "SingleBitrate",
                "AdaptiveBitrate"
              ]
            },
            {
              "name": "linguisticModelId",
              "in": "query",
              "description": "Linguistic model id as received by 'create linguistic model' call",
              "type": "string"
            },
            {
              "name": "personModelId",
              "in": "query",
              "description": "Faces will be identified against the provided person model.",
              "type": "string"
            },
            {
              "name": "animationModelId",
              "in": "query",
              "description": "Animations will be identified against the provided animation model.",
              "type": "string"
            },
            {
              "name": "sendSuccessEmail",
              "in": "query",
              "description": "Indicates whether to send a success mail once video was succesfully indexed",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "assetId",
              "in": "query",
              "description": "Azure media services asset id. Used to index from existing assets in your connected Azure media services account. (Paid only)",
              "type": "string"
            },
            {
              "name": "brandsCategories",
              "in": "query",
              "description": "List of brands categories delimited by comma. Video indexer will only take these categories in to account when indexing. If not specified all brands will be used.",
              "type": "string"
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (Account, with Write)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            },
            {
              "name": "body",
              "in": "formData",
              "description": "Format - binary. If a video URL is not specified, the file should be passed as a multipart/form body content.",
              "type": "file"
            }
          ],
          "consumes": [
            "multipart/form-data"
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Video uploaded successfully",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "404": {
              "description": "Account not found",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "ACCOUNT_NOT_FOUND",
                  "Message": "The account doesn't exist"
                }
              }
            },
            "400": {
              "description": "Invalid input",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": "[\r\n  {\r\n    \"ErrorType\": \"NOT_FOUND\",\r\n    \"Message\": \"The provided model id could not be found\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"CUSTOM_VISION_ACCOUNT_NOT_FOUND\",\r\n    \"Message\": \"Custom vision account not attached to Video Indexer account\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"CUSTOM_VISION_UNREACHABLE_OR_INVALID_TRAINING_KEY\",\r\n    \"Message\": \"Custom vision account is not reachable. Either resource does not exist or provided training key is invalid\"\r\n  },\r\n  {\r\n    \"ErrorType\": \"CUSTOM_VISION_UNREACHABLE_OR_INVALID_PREDICTION_KEY\",\r\n    \"Message\": \"Custom vision account is not reachable. Either resource does not exist or provided prediction key is invalid\"\r\n  }\r\n]"
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "USER_NOT_ALLOWED",
                  "Message": "Access token is not authorized to access account 'SampleAccountId'."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        },
        "get": {
          "description": "Get a list of videos and projects in the account",
          "operationId": "List-Videos",
          "summary": "List Videos",
          "tags": [
            "Videos"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "createdAfter",
              "in": "query",
              "description": "Format - date-time (as date-time in RFC3339). Filter items created before the specified date. Accepted format: RFC 3339, section 5.6. Example: '2017-07-21T17:32:28Z'",
              "type": "string"
            },
            {
              "name": "createdBefore",
              "in": "query",
              "description": "Format - date-time (as date-time in RFC3339). Filter items created after the specified date. Accepted format: RFC 3339, section 5.6. Example: '2017-07-21T17:32:28Z'",
              "type": "string"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Format - int32. page size",
              "type": "integer",
              "default": "25"
            },
            {
              "name": "skip",
              "in": "query",
              "description": "Format - int32. The number of records to skip",
              "type": "integer",
              "default": "0"
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (Account, with Read)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Video list retrieved successfully",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "results": [
                    {
                      "accountId": "SampleAccountId",
                      "id": "476892a745",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "test2",
                      "description": null,
                      "created": "2018-04-25T17=40=28.273+00=00",
                      "lastModified": "2018-04-25T17=43=11.548+00=00",
                      "lastIndexed": "2018-04-25T17=40=38.561+00=00",
                      "privacyMode": "Private",
                      "userName": "SampleUserName",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processed",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "476892a745",
                      "thumbnailId": "d869021e-2a0b-4355-9c80-144e51aa8f6d",
                      "social": {
                        "likedByUser": false,
                        "likes": 0,
                        "views": 0
                      },
                      "searchMatches": [],
                      "indexingPreset": "Default",
                      "streamingPreset": "Default",
                      "sourceLanguage": "en-US"
                    },
                    {
                      "accountId": "SampleAccountId",
                      "id": "30e66ec1b1",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "test3",
                      "description": null,
                      "created": "2018-04-25T16=50=00.967+00=00",
                      "lastModified": "2018-04-25T16=58=13.409+00=00",
                      "lastIndexed": "2018-04-25T16=50=12.991+00=00",
                      "privacyMode": "Private",
                      "userName": "SampleUserName",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processing",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "30e66ec1b1",
                      "thumbnailId": "55848b7b-8be7-4285-893e-cdc366e09133",
                      "social": {
                        "likedByUser": false,
                        "likes": 0,
                        "views": 0
                      },
                      "searchMatches": [],
                      "indexingPreset": "Default",
                      "streamingPreset": "Default",
                      "sourceLanguage": "en-US"
                    },
                    {
                      "accountId": "SampleAccountId",
                      "id": "3a9220459b",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "SampleVideo_1280x720_2mb222",
                      "description": null,
                      "created": "2018-04-25T16=29=43.099+00=00",
                      "lastModified": "2018-04-25T16=57=07.7+00=00",
                      "lastIndexed": "2018-04-25T16=29=54.767+00=00",
                      "privacyMode": "Private",
                      "userName": "ExampleUser",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processing",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "3a9220459b",
                      "thumbnailId": "21700e5e-9736-42b9-9bbb-124df35295eb",
                      "social": {
                        "likedByUser": false,
                        "likes": 0,
                        "views": 0
                      },
                      "searchMatches": [],
                      "indexingPreset": "Default",
                      "streamingPreset": "Default",
                      "sourceLanguage": "en-US"
                    }
                  ],
                  "nextPage": {
                    "pageSize": 25,
                    "skip": 0,
                    "done": true
                  }
                }
              }
            },
            "400": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "INVALID_INPUT",
                  "Message": "Language 'BadLanguage' is not supported"
                }
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "USER_NOT_ALLOWED",
                  "Message": "Access token is not authorized to access account 'SampleAccountId'."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        }
      },
      "/{location}/Accounts/{accountId}/Videos/{videoId}/ReIndex": {
        "put": {
          "description": "Re-index video",
          "operationId": "Re-Index-Video",
          "summary": "Re-Index Video",
          "tags": [
            "Videos"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "videoId",
              "in": "path",
              "description": "The video id",
              "required": true,
              "type": "string"
            },
            {
              "name": "indexingPreset",
              "in": "query",
              "description": "The indexing preset to use. Allowed values: Default/AudioOnly/VideoOnly/DefaultWithNoiseReduction",
              "type": "string",
              "enum": [
                "Default",
                "AudioOnly",
                "VideoOnly",
                "DefaultWithNoiseReduction"
              ]
            },
            {
              "name": "streamingPreset",
              "in": "query",
              "description": "The streaming preset to use. Allowed values: NoStreaming/Default/SingleBitrate/AdaptiveBitrate",
              "type": "string",
              "enum": [
                "NoStreaming",
                "Default",
                "SingleBitrate",
                "AdaptiveBitrate"
              ]
            },
            {
              "name": "callbackUrl",
              "in": "query",
              "description": "Format - uri. A url to send notifications to (POST).\nThese are the supported notifications:\n1. Video indexing completed:\n   2 additional query string parameters will be added to the url: id and state.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&state=Processed'.\n\n2. A face was identified (after the face was trained in another video):\n   4 additional query string parameters will be added to the url: id, faceId, knownPersonId and personName.\n\n   For example, if the callback url is 'https://test.com/notifyme?projectName=MyProject', the notification will be sent to 'https://test.com/notifyme?projectName=MyProject&id=12345abcde&faceId=1234&knownPersonId=B689EC08-FAB6-497A-A727-DA7285DBD436&personName=JohnSmith'.",
              "type": "string"
            },
            {
              "name": "sourceLanguage",
              "in": "query",
              "description": "The language of the video, to be used when generating the transcript: Auto-detect single language - 'auto', Auto-detect multi language (preview) - 'multi'..\nSupported languages: Chinese (Simplified): zh-Hans, English United Kingdom: en-GB, English Australia: en-AU, English United States: en-US, Spanish: es-ES, Spanish (Mexico): es-MX, French: fr-FR, Arabic Syrian Arab Republic: ar-SY, Arabic Egypt: ar-EG, German: de-DE, Italian: it-IT, Japanese: ja-JP, Hindi: hi-IN, Korean: ko-KR, Russian: ru-RU, Portuguese: pt-BR.",
              "type": "string",
              "enum": [
                "zh-Hans",
                "en-GB",
                "en-AU",
                "en-US",
                "es-ES",
                "es-MX",
                "fr-FR",
                "ar-SY",
                "ar-EG",
                "de-DE",
                "it-IT",
                "ja-JP",
                "hi-IN",
                "ko-KR",
                "ru-RU",
                "pt-BR",
                "English",
                "Spanish",
                "Russian",
                "Japanese",
                "German",
                "French",
                "Portuguese",
                "Italian",
                "Chinese",
                "Arabic",
                "Hindi",
                "auto",
                "multi"
              ]
            },
            {
              "name": "sendSuccessEmail",
              "in": "query",
              "description": "Indicates whether to send a success mail once video was succesfully indexed",
              "type": "boolean",
              "default": "False",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "linguisticModelId",
              "in": "query",
              "description": "Linguistic model id as received by 'create linguistic model' call",
              "type": "string"
            },
            {
              "name": "personModelId",
              "in": "query",
              "description": "Faces will be identified against the provided person model.",
              "type": "string"
            },
            {
              "name": "animationModelId",
              "in": "query",
              "description": "Animations will be identified against the provided animation model.",
              "type": "string"
            },
            {
              "name": "priority",
              "in": "query",
              "description": "Index priority, can be used in paid regions only. Allowed values: Low/Normal/High",
              "type": "string",
              "enum": [
                "Low",
                "Normal",
                "High"
              ]
            },
            {
              "name": "brandsCategories",
              "in": "query",
              "description": "List of brands categories delimited by comma. Video indexer will only take these categories in to account when indexing. If not specified all brands will be used.",
              "type": "string"
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required. Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (Account or Video, with Write)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "204": {
              "description": "Video re-index started successfully",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "404": {
              "description": "Account not found or custom vision subscription not found/set",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "400": {
              "description": "Invalid input\nor\nCannot re-index the video since its original upload failed. Please upload the video again.",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "409": {
              "description": "Video is already being indexed",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "401": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "USER_NOT_ALLOWED",
                  "Message": "Access token is not authorized to access account 'SampleAccountId'."
                }
              }
            },
            "500": {
              "description": "",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "GENERAL",
                  "Message": "There was an error."
                }
              }
            },
            "429": {
              "description": "Too many requests were sent, use Retry-After response header to decide when to send the next request",
              "headers": {
                "Retry-After": {
                  "type": "integer",
                  "description": "A non-negative decimal integer indicating the seconds to delay after the response is received"
                },
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              }
            },
            "504": {
              "description": "Server did not respond to gateway within expected time",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "ErrorType": "SERVER_TIMEOUT",
                  "Message": "Server did not respond to gateway within expected time"
                }
              }
            }
          }
        }
      },
      "/{location}/Accounts/{accountId}/Videos/Search": {
        "get": {
          "description": "Search videos and projects in the specified account",
          "operationId": "Search-Videos",
          "summary": "Search Videos",
          "tags": [
            "Videos"
          ],
          "parameters": [
            {
              "name": "location",
              "in": "path",
              "description": "Location indicates the Azure region to which the call should be routed<br>\nSee more details <a href=https://aka.ms/vi-docs-location target=\"_blank\">here</a>",
              "required": true,
              "type": "string",
              "enum": [
                "trial",
                "westus2",
                "eastasia",
                "northeurope",
                "westeurope",
                "southeastasia",
                "eastus2",
                "australiaeast",
                "southcentralus",
                "japaneast",
                "uksouth"
              ]
            },
            {
              "name": "accountId",
              "in": "path",
              "description": "Format - guid. Account ID is a globally unique identifier (GUID) for the account.<br> See more details <a href=https://aka.ms/vi-docs-accountid target=\"_blank\">here</a>",
              "required": true,
              "type": "string"
            },
            {
              "name": "sourceLanguage",
              "in": "query",
              "description": "Include only videos/projects with that source language.\nSupported languages: Chinese (Simplified): zh-Hans, English United Kingdom: en-GB, English Australia: en-AU, English United States: en-US, Spanish: es-ES, Spanish (Mexico): es-MX, French: fr-FR, Arabic Syrian Arab Republic: ar-SY, Arabic Egypt: ar-EG, German: de-DE, Italian: it-IT, Japanese: ja-JP, Hindi: hi-IN, Korean: ko-KR, Russian: ru-RU, Portuguese: pt-BR.",
              "type": "string",
              "enum": [
                "zh-Hans",
                "en-GB",
                "en-AU",
                "en-US",
                "es-ES",
                "es-MX",
                "fr-FR",
                "ar-SY",
                "ar-EG",
                "de-DE",
                "it-IT",
                "ja-JP",
                "hi-IN",
                "ko-KR",
                "ru-RU",
                "pt-BR",
                "English",
                "Spanish",
                "Russian",
                "Japanese",
                "German",
                "French",
                "Portuguese",
                "Italian",
                "Chinese",
                "Arabic",
                "Hindi"
              ]
            },
            {
              "name": "isBase",
              "in": "query",
              "description": "true will include only videos; false will include only projects",
              "type": "boolean",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "hasSourceVideoFile",
              "in": "query",
              "description": "true will include videos that have a source file; false will include projects as well as videos without a source file",
              "type": "boolean",
              "enum": [
                "true",
                "false"
              ]
            },
            {
              "name": "sourceVideoId",
              "in": "query",
              "description": "Include only the video with the given id as well as projects that have a source video with the given id",
              "type": "string"
            },
            {
              "name": "state",
              "in": "query",
              "description": "A processing state of videos. Projects are always in 'Processed' state. Allowed values: Uploaded/Processing/Processed/Failed/Quarantined",
              "type": "string",
              "enum": [
                "Uploaded",
                "Processing",
                "Processed",
                "Failed",
                "Quarantined"
              ]
            },
            {
              "name": "privacy",
              "in": "query",
              "description": "A privacy level. Allowed values: Private/Public",
              "type": "string",
              "enum": [
                "Private",
                "Public"
              ]
            },
            {
              "name": "id",
              "in": "query",
              "description": "A video id to search for.",
              "type": "string"
            },
            {
              "name": "partition",
              "in": "query",
              "description": "A partition to search for.",
              "type": "string"
            },
            {
              "name": "externalId",
              "in": "query",
              "description": "An external id to search for (which was associated with the video at upload).",
              "type": "string"
            },
            {
              "name": "owner",
              "in": "query",
              "description": "An owner to search for.",
              "type": "string"
            },
            {
              "name": "face",
              "in": "query",
              "description": "A face to search for.",
              "type": "string"
            },
            {
              "name": "animatedcharacter",
              "in": "query",
              "description": "An animated character to search for.",
              "type": "string"
            },
            {
              "name": "query",
              "in": "query",
              "description": "Free text to search for.",
              "type": "string"
            },
            {
              "name": "textScope",
              "in": "query",
              "description": "The text scope to search in.. Allowed values: Transcript/Ocr/Annotations/Brands/NamedLocations/NamedPeople",
              "type": "string",
              "enum": [
                "Transcript",
                "Ocr",
                "Annotations",
                "Brands",
                "NamedLocations",
                "NamedPeople"
              ]
            },
            {
              "name": "language",
              "in": "query",
              "description": "The language to search in. You can specify multiple language parameters (e.g. $language=English&language=French) to search multiple languages. Having no language parameter will search all languages. Videos/projects are searchable in their source language as well as any language they were translated to by another operation.\nSupported languages: Serbian (Cyrillic): sr-Cyrl-RS, Serbian (Latin): sr-Latn-RS, Bosnian: bs-Latn, Chinese (Simplified): zh-Hans, Chinese (Traditional): zh-Hant, Filipino: fil-PH, English United Kingdom: en-GB, Fijian: en-FJ, English Australia: en-AU, Samoan: en-WS, English United States: en-US, Greek: el-GR, Spanish: es-ES, Spanish (Mexico): es-MX, Estonian: et-EE, Persian: fa-IR, Finnish: fi-FI, French: fr-FR, Haitian: fr-HT, Afrikaans: af-ZA, Arabic Syrian Arab Republic: ar-SY, Arabic Egypt: ar-EG, Danish: da-DK, German: de-DE, Bulgarian: bg-BG, Bangla: bn-BD, Malagasy: mg-MG, Malay: ms-MY, Maltese: mt-MT, Catalan: ca-ES, Czech: cs-CZ, Dutch: nl-NL, Norwegian: nb-NO, Indonesian: id-ID, Italian: it-IT, Lithuanian: lt-LT, Latvian: lv-LV, Japanese: ja-JP, Urdu: ur-PK, Ukrainian: uk-UA, Hindi: hi-IN, Hebrew: he-IL, Hungarian: hu-HU, Croatian: hr-HR, Korean: ko-KR, Vietnamese: vi-VN, Turkish: tr-TR, Tamil: ta-IN, Thai: th-TH, Tongan: to-TO, Russian: ru-RU, Romanian: ro-RO, Portuguese: pt-BR, Polish: pl-PL, Swedish: sv-SE, Kiswahili: sw-KE, Slovenian: sl-SI, Slovak: sk-SK.",
              "type": "string",
              "enum": [
                "sr-Cyrl-RS",
                "sr-Latn-RS",
                "bs-Latn",
                "zh-Hans",
                "zh-Hant",
                "fil-PH",
                "en-GB",
                "en-FJ",
                "en-AU",
                "en-WS",
                "en-US",
                "el-GR",
                "es-ES",
                "es-MX",
                "et-EE",
                "fa-IR",
                "fi-FI",
                "fr-FR",
                "fr-HT",
                "af-ZA",
                "ar-SY",
                "ar-EG",
                "da-DK",
                "de-DE",
                "bg-BG",
                "bn-BD",
                "mg-MG",
                "ms-MY",
                "mt-MT",
                "ca-ES",
                "cs-CZ",
                "nl-NL",
                "nb-NO",
                "id-ID",
                "it-IT",
                "lt-LT",
                "lv-LV",
                "ja-JP",
                "ur-PK",
                "uk-UA",
                "hi-IN",
                "he-IL",
                "hu-HU",
                "hr-HR",
                "ko-KR",
                "vi-VN",
                "tr-TR",
                "ta-IN",
                "th-TH",
                "to-TO",
                "ru-RU",
                "ro-RO",
                "pt-BR",
                "pl-PL",
                "sv-SE",
                "sw-KE",
                "sl-SI",
                "sk-SK",
                "English",
                "Spanish",
                "Russian",
                "Japanese",
                "German",
                "French",
                "Portuguese",
                "Italian",
                "Chinese",
                "Filipino",
                "Arabic",
                "Hindi"
              ]
            },
            {
              "name": "createdAfter",
              "in": "query",
              "description": "Format - date-time (as date-time in RFC3339). Filter items created before the specified date Accepted format: RFC 3339, section 5.6. Example: '2017-07-21T17:32:28Z'",
              "type": "string"
            },
            {
              "name": "createdBefore",
              "in": "query",
              "description": "Format - date-time (as date-time in RFC3339). Filter items created after the specified date Accepted format: RFC 3339, section 5.6. Example: '2017-07-21T17:32:28Z'",
              "type": "string"
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Format - int32. The number of results to return.",
              "type": "integer",
              "default": "25"
            },
            {
              "name": "skip",
              "in": "query",
              "description": "Format - int32. The number of results to skip (used for paging).",
              "type": "integer",
              "default": "0"
            },
            {
              "name": "accessToken",
              "in": "query",
              "description": "Required for private videos/projects or account scope search<br>\n Should be given as parameter in URL query string or in Authorization header as Bearer token, and match the authorization scope of the call  (A video token for a single video/project search, or account token with read permissions)<br>\n Note that Access tokens expire within 1 hour<br>\nSee more details <a href=https://aka.ms/vi-docs-accesstoken target=\"_blank\">here</a>",
              "type": "string"
            },
            {
              "name": "x-ms-client-request-id",
              "in": "header",
              "description": "Format - uuid. A globally unique identifier (GUID) for the request which can be sent by client for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the client request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request, so avoid using the same request id for different requests, including in retry scenarios.",
              "type": "string"
            }
          ],
          "produces": [
            "application/json"
          ],
          "responses": {
            "200": {
              "description": "Search results",
              "headers": {
                "x-ms-request-id": {
                  "type": "string",
                  "description": "A globally unique identifier (GUID) for the request which is assigned by the server for instrumentation purposes. The server makes sure all logs associated with handling the request can be linked to the server request id so a client can provide this request id in support tickets so support engineers could find the logs linked to this particular request. The server makes sure this request id will never repeat itself."
                }
              },
              "examples": {
                "application/json": {
                  "results": [
                    {
                      "accountId": "SampleAccountId",
                      "id": "476892a745",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "test2",
                      "description": null,
                      "created": "2018-04-25T17=40=28.273+00=00",
                      "lastModified": "2018-04-25T17=43=11.548+00=00",
                      "lastIndexed": "2018-04-25T17=40=38.561+00=00",
                      "privacyMode": "Private",
                      "userName": "SampleUserName",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processed",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "476892a745",
                      "thumbnailId": "d869021e-2a0b-4355-9c80-144e51aa8f6d",
                      "social": {
                        "likedByUser": false,
                        "likes": 0,
                        "views": 0
                      },
                      "searchMatches": [],
                      "indexingPreset": "Default",
                      "streamingPreset": "Default",
                      "sourceLanguage": "en-US"
                    },
                    {
                      "accountId": "SampleAccountId",
                      "id": "30e66ec1b1",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "test3",
                      "description": null,
                      "created": "2018-04-25T16=50=00.967+00=00",
                      "lastModified": "2018-04-25T16=58=13.409+00=00",
                      "lastIndexed": "2018-04-25T16=50=12.991+00=00",
                      "privacyMode": "Private",
                      "userName": "SampleUserName",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processing",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "30e66ec1b1",
                      "thumbnailId": "55848b7b-8be7-4285-893e-cdc366e09133",
                      "social": {
                        "likedByUser": false,
                        "likes": 0,
                        "views": 0
                      },
                      "searchMatches": [],
                      "indexingPreset": "Default",
                      "streamingPreset": "Default",
                      "sourceLanguage": "en-US"
                    },
                    {
                      "accountId": "SampleAccountId",
                      "id": "3a9220459b",
                      "partition": null,
                      "externalId": null,
                      "metadata": null,
                      "name": "SampleVideo_1280x720_2mb222",
                      "description": null,
                      "created": "2018-04-25T16=29=43.099+00=00",
                      "lastModified": "2018-04-25T16=57=07.7+00=00",
                      "lastIndexed": "2018-04-25T16=29=54.767+00=00",
                      "privacyMode": "Private",
                      "userName": "ExampleUser",
                      "isOwned": true,
                      "isBase": true,
                      "state": "Processing",
                      "processingProgress": "",
                      "durationInSeconds": 13,
                      "thumbnailVideoId": "3a9220459b",
                      "thumbnailId": "21700e5e-9736-42b9-9bbb-124df35295eb",
                      "social": {
[...]
