<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Please update the employee details</h1>

    <form id="employee" method="POST" action="/employeePatch">
        <label for = "emp_no">Please enter the employee Number <b>[Integer value]</b></label></br>
        <input type="text" name="emp_no"></br>
        <label for = "reportTo">ReportTo <b>[enter from (1088,1002,1143,1056,1621)]</b></label></br>
        <input type="text" name="reportTo"></br>
        <label for = "jobTitle">JobTitle</label></br>
        <input type="text" name="jobTitle"></br>
        <input type="submit" value="submit" />
    </form>
</body>
</html>